
// Div de toute la page formulaire
.all__page.home_login{
    background-image :url("../../pictures/font_acceuil.jpg");
    height: 100%;
    min-height: 100%;
    background-position: 50%;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

// div du haut page de login
.home {
  width: 70%;
  padding: 10px;
  background: rgba(250, 250, 250, 0.76);
  margin: auto auto;
  margin-top: 30px;
  border-top: 0.5px solid #0070c9;
  border-right: 1px solid #0070c9;
  border-bottom: 1.5px solid #0070c9;
  border-left: 0.5px solid #0070c9;
  border-radius: 1em;
  box-shadow: 8px 6px 4px 1px rgba(17, 17, 17, 0.301);
  font-family: "Playfair Display";
}
// h2 et h3 de .home
.home__title { //h2
  font-size: 1.4em;
  text-align: center;
  color: black;
}
.home__smalltitle { //h3
  font-size: 1.2em;
  text-align: center;
  color: black;
}
// div contenant le bouton semantic ui 
.home__more {
  text-align: center;
  color: black;
}
// Bouton voir plus semantic ui 
.ui.button.voir__plus{
  color: white;
  font-size: 0.8em;
  border-radius: 25px;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  border: 1px solid #07c;
  box-shadow: 2px 4px 1px 0px rgba(19, 19, 19, 0.301);
}

// balise p quand le bouton voir plus est activé 
.home__content { // p
  text-align: center;
  color: black;
  padding-bottom: 15px;
} 
// div englobant le bouton voir moins 
.home__less {
  text-align: center;
  color: black;
  margin-bottom: 15px;
}
//bouton sémantic voir moins
.ui.button.voir__moins{
  color: white;
  font-size: 0.8em;
  border-radius: 25px;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  border: 1px solid #07c;
  box-shadow: 2px 4px 1px 0px rgba(19, 19, 19, 0.301);
}

// div englobant input mail et pass (milieu de page)
.form__login {
  text-align: center;
  margin: auto auto;  
  margin-top:10%;
  width: 50%;
  padding: 1em;
  border-top: 0.5px solid #0070c9;
  border-right: 1px solid #0070c9;
  border-bottom: 1.5px solid #0070c9;
  border-left: 0.5px solid #0070c9;
  border-radius: 1em;
  background-color: rgba(250, 250, 250, 0.801);
  margin-bottom: 20px;
  box-shadow: 8px 6px 4px 1px rgba(17, 17, 17, 0.301);
}
//formulaire login semantic ui avec le bouton
.ui.form.form__log{
  // background: seagreen;
}
// balise p du titre formulaire 
.title__form {
  font-weight: bold;
  border-bottom: 1px solid black;
  // background: skyblue;
}
// interieur du formulaire 
.field.interior__form__log {
  // background-color: slateblue;
  margin-top: 10px;
}
// élément titre (votre email + input email semantic)
.field.log__mail__pass{
  font-size: 0.8em;
  // background: springgreen;
}

// label "votre email" et "votre pass"  au decu des inputs
.ui.form .field>label{
  font-size: 1.2em;
  border-bottom: 1px solid black;
  // background: tomato;
}
//encadré des input de email et pass
.ui.fluid.input{
  // background-color:rgba(0, 0, 0, 0.993);
  // size: 10px;
}
// ciblage de l'encadré input de saisie de l'input email et pass 
.ui.form .field.field input:-webkit-autofill {
  background: yellowgreen;
}
// ciblage de l'encadré input de saisie de l'input email et pass quand l'utilisateur est sur l'input
.ui.form .field.field input:-webkit-autofill:focus {
  background: yellowgreen;
}
// bouton Login du formulaire 
.ui.button.button__login{
  color: white;
  font-size: 0.8em;
  border-radius: 25px;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  border: 1px solid #07c;
  box-shadow: 2px 4px 1px 0px rgba(19, 19, 19, 0.301);
}

// selection de la div erreur mail ou pass
.error__login {
  color: red;
  font-size: 18px;
  text-align: center;
}

// div du lien inscrivez-vous
.link__inscription {
  margin-top: 50px;
  text-align: center;
}
// boutton inscrivez vous 
.inscription {
  color: rgba(0, 0, 0, 0.733);
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
  background-color: #FFDD39;
  background: linear-gradient(rgba(248, 219, 52, 0.774),rgb(219, 184, 10));
  border: 1px solid rgb(255, 238, 0);
  box-shadow: 4px 6px 5px 2px rgba(19, 19, 19, 0.459);
  padding: 0.5rem;
}
// selection de la div lien pass oublié
.link__forgottenpass {
  margin-top: 15%;
  text-align: center;
  
}
//boutton du lien pass oublié 
.forgotten__password {
  color: black;
  font-size: 13px;
  font-weight: bold;
  // background-color: rgba(0, 0, 0, 0.212);
  padding: 0.5rem;
  border-radius: 1rem;
}
// div du link login success 
.login__ok {
  color: rgb(117, 117, 117);
  font-size: 1em;
  text-align: center;
  padding-top: 15px;
}  

@media screen and (min-width: 760px){
  // div du haut page de login
  .home {
    border-top: 0.5px solid #0070c9;
    border-right: 1px solid #0070c9;
    border-bottom: 1.5px solid #0070c9;
    border-left: 0.5px solid #0070c9;
  }
  // h2 de .home
  .home__smalltitle { 
    font-size: 1.3em;
  }
  // Bouton voir plus semantic ui 
  .ui.button.voir__plus{
    font-size: 1.2em;
  }
  // balise p quand le bouton voir plus est activé 
  .home__content { // p
    font-size: 1.1em;
    text-align: center;
    color: black;
    padding-bottom: 15px;
  } 
  //bouton sémantic voir moins
  .ui.button.voir__moins{
    font-size: 1.2em;
  }
  // div englobant input mail et pass (milieu de page)
  .form__login {
    padding: 1em;
    border-top: 0.5px solid #0070c9;
    border-right: 1px solid #0070c9;
    border-bottom: 1.5px solid #0070c9;
    border-left: 0.5px solid #0070c9;
  }
  // balise p du titre formulaire 
  .title__form {
    font-size: 1.5em;
  }
  // élément titre (votre email + input email semantic)
  .field.log__mail__pass{
    // background: springgreen;
    font-size: 1.2em;
  }
  // label "votre email" et "votre pass"  au decu des inputs
  .ui.form .field>label{
    font-size: 1.2em;
    padding: 5px;
  }
  // bouton Login du formulaire 
  .ui.button.button__login{
    font-size: 1.2em;
  }
  // selection de la div erreur mail ou pass
  .error__login {
    color: red;
    font-size: 20px;
    text-align: center;
  }
  // div du lien inscrivez-vous
  .link__inscription {
    margin-top: 15%;
    text-align: center;
  }
  // boutton inscrivez vous 
  .inscription {
    font-size: 2em;
    padding: 8px;
  }
  .login__ok {
    font-size: 1.2em;
  } 
}

@media screen and (min-width: 1020px){
  // div du haut page de login
  .home {
    margin-top: 30px;
    border-top: 0.5px solid #0070c9;
    border-right: 1px solid #0070c9;
    border-bottom: 1.5px solid #0070c9;
    border-left: 0.5px solid #0070c9;
  }
  // h2 de .home
  .home__title { 
    font-size: 2.5em;

  }
  // h3 de .home
  .home__smalltitle { 
    font-size: 2em;
  }
  // Bouton voir plus semantic ui 
  .ui.button.voir__plus{
    font-size: 1.5em;
  }
  // balise p quand le bouton voir plus est activé 
  .home__content { // p
    font-size: 1.5em;
  } 
  //bouton sémantic voir moins
  .ui.button.voir__moins{
    font-size: 1.5em;
  }
  // div englobant input mail et pass (milieu de page)
  .form__login {
    padding: 1em;
    border-top: 1px solid #0070c9;
    border-right: 1.5px solid #0070c9;
    border-bottom: 2px solid #0070c9;
    border-left: 1px solid #0070c9;  
  }
  // balise p du titre formulaire 
  .title__form {
    font-size: 2.3em;
  }
  // élément titre (votre email + input email semantic)
  .field.log__mail__pass{
    // background: springgreen;
    font-size: 1.6em;
  }
  // label "votre email" et "votre pass"  au decu des inputs
  .ui.form .field>label{
    font-size: 1.3em;
    margin-bottom: 10px;
    padding: 8px;
  }
  // bouton Login du formulaire 
  .ui.button.button__login{
    font-size: 1.5em;
  }
  // selection de la div erreur mail ou pass
  .error__login {
    font-size: 25px;
  }
  // div du lien inscrivez-vous
  .link__inscription {
    margin-top: 15%;
    text-align: center;
  }
  // boutton inscrivez vous 
  .inscription {
    font-size: 2.5em;
    padding: 8px;
  }

  .login__ok {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1238px){
  // Div de toute la page formulaire
  .all__page.home_login{
    background:none;
    background-image :url("../../pictures/font_acceuil.jpg");
    height: 100%;
    min-height: 100%;
    background-position: center;
    margin: auto;
    padding: 5px;
    background-size: cover;
  }
  // div du haut page de login
  .home {
    width: 50%;
    margin-top: 30px;
    border-top: 0.5px solid #0070c9;
    border-right: 1px solid #0070c9;
    border-bottom: 1.5px solid #0070c9;
    border-left: 0.5px solid #0070c9;
  }
  
  // h2 de .home
  .home__title { 
    font-size: 2.2em;

  }
  // h3 de .home
  .home__smalltitle { 
    font-size: 1.8em;
  }
  // Bouton voir plus semantic ui 
  .ui.button.voir__plus{
    font-size: 1.2em;
  }
  // balise p quand le bouton voir plus est activé 
  .home__content { // p
    font-size: 1.2em;
  } 
  //bouton sémantic voir moins
  .ui.button.voir__moins{
    font-size: 1.2em;
  }
  // div englobant input mail et pass (milieu de page)
  .form__login {
    width: 25%;
    margin-top: 3%;
    padding: 1em;
    border-top: 1px solid #0070c9;
    border-right: 1.5px solid #0070c9;
    border-bottom: 2px solid #0070c9;
    border-left: 1px solid #0070c9;  
  }
  // balise p du titre formulaire 
  .title__form {
    font-size: 2em;
  }
  // élément titre (votre email + input email semantic)
  .field.log__mail__pass{
    // background: springgreen;
    font-size: 1.2em;
  }
  // label "votre email" et "votre pass"  au decu des inputs
  .ui.form .field>label{
    font-size: 1.2em;
    margin-bottom: 10px;
    padding: 8px;
  }
  // bouton Login du formulaire 
  .ui.button.button__login{
    font-size: 1.2em;
  }
  // div du lien inscrivez-vous
  .link__inscription {
    margin-top: 5%;
    text-align: center;
  }
  // boutton inscrivez vous 
  .inscription {
    font-size: 1.6em;
    padding: 10px;
    position: fixed;
    top: 2%;
    right: 3%;
  }
  // boutton inscrivez vous survolle 
  .inscription:hover {
    color: rgba(0, 0, 0, 0.733);
    transition: all 0.6s;
    font-size: 2em;
    padding: 10px;
    border: 1px solid rgb(255, 238, 0);
  }
  .login__ok {
    font-size: 1.8em;
  }
}
/*
Code css pas utilisé il me semble ?
.link__logged {
  display: inline-block;
  font-size: large;
  font: bold;
  color: white;
  background-color: none;
  padding: 0.3rem;
  border-radius: 0.5rem;
  margin: auto auto;
}
.link__islogged {
  color: black;
  animation: clignote 2s linear infinite;
  margin-right: 20px;
  display: inline-block;
}
@keyframes clignote {  
  50% { opacity: 0; }
}
*/

