

// Div de toute la page formulaire
.all__page{
  background:none;
}


// div du haut page de login
.home {
  width: 70%;
  background-color: rgba(128, 128, 128, 0.315);
  // background-color: cornflowerblue;
  margin: auto auto;
  margin-top: 40px;
  border-top: 0.5px solid rgba(58, 58, 58, 0.788);
  border-right: 2.3px solid rgba(27, 27, 27, 0.705);
  border-bottom: 2.3px solid rgba(27, 27, 27, 0.705);
  border-left: 0.5px solid rgba(58, 58, 58, 0.788);
  border-radius: 1em;
  box-shadow: 8px 6px 4px 1px rgba(17, 17, 17, 0.301);

}
// h2 et h3 de .home
.home__title { //h2
  text-align: center;
  color: black;
}
.home__smalltitle { //h3
  text-align: center;
  color: black;
}
// div contenant le bouton semantic ui 
.home__more {
  text-align: center;
  color: black;
}
// Bouton voir plus semantic ui 
.ui.button.voir__plus{
  color: white;
  border-radius: 25px;
  background: rgba(9, 5, 255, 0.61);
  box-shadow: 2px 4px 1px 0px rgba(19, 19, 19, 0.301);
}
// balise p quand le bouton voir plus est activé 
.home__content { // p
  text-align: center;
  color: black;
  padding-bottom: 15px;
} 
// div englobant le bouton voir moins 
.home__less {
  text-align: center;
  color: black;
  margin-bottom: 15px;
}
//bouton sémantic voir moins
.ui.button.voir__moins{
  color: white;
  border-radius: 25px;
  background: rgba(9, 5, 255, 0.61);
  box-shadow: 2px 4px 1px 0px rgba(19, 19, 19, 0.301);
}

// div englobant input mail et pass (milieu de page)
.form__login {
  text-align: center;
  margin: auto auto;  
  margin-top: 60px;
  width: 50%;
  padding: 1em;
  border-top: 0.5px solid rgba(58, 58, 58, 0.788);
  border-right: 2.3px solid rgba(27, 27, 27, 0.705);
  border-bottom: 2.3px solid rgba(27, 27, 27, 0.705);
  border-left: 0.5px solid rgba(58, 58, 58, 0.788);
  border-radius: 1em;
  background-color: rgba(128, 128, 128, 0.315);
  margin-bottom: 20px;
  box-shadow: 8px 6px 4px 1px rgba(17, 17, 17, 0.301);
}
//formulaire login semantic ui avec le bouton
.ui.form.form__log{
  // background: seagreen;
}
// balise p du titre formulaire 
.title__form {
  font-weight: bold;
  border-bottom: 1px solid black;
  // background: skyblue;
}
// interieur du formulaire 
.field.interior__form__log {
  // background-color: slateblue;
  margin-top: 10px;
}
// élément titre (votre email + input email semantic)
.field.log__mail__pass{
  // background: springgreen;
}

// label "votre email" et "votre pass"  au decu des inputs
.ui.form .field>label{
  border-bottom: 1px solid black;
  // background: tomato;
}
//encadré des input de email et pass
.ui.fluid.input{
  background-color:black;
  size: 10px;
}
// ciblage de l'encadré input de saisie de l'input email et pass 
.ui.form .field.field input:-webkit-autofill {
  background: yellowgreen;
}
// ciblage de l'encadré input de saisie de l'input email et pass quand l'utilisateur est sur l'input
.ui.form .field.field input:-webkit-autofill:focus {
  background: yellowgreen;
}
// bouton Login du formulaire 
.ui.button.button__login{
  color: white;
  border-radius: 25px;
  background: rgba(9, 5, 255, 0.61);
  box-shadow: 2px 4px 1px 0px rgba(19, 19, 19, 0.301);
}

// selection de la div erreur mail ou pass
.error__login {
  color: red;
  font-size: 20px;
  text-align: center;
}

// div du lien inscrivez-vous
.link__inscription {
  margin-top: 40px;
  text-align: center;
}
// boutton inscrivez vous 
.inscription {
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
  background: rgba(9, 5, 255, 0.61);
  box-shadow: 2px 4px 1px 0px rgba(19, 19, 19, 0.301);
  padding: 0.5rem;
}
// selection de la div lien pass oublié
.link__forgottenpass {
  margin-top: 40px;
  text-align: center;
  
}
//boutton du lien pass oublié 
.forgotten__password {
  color: black;
  font-size: 13px;
  font-weight: bold;
  // background-color: rgba(0, 0, 0, 0.212);
  padding: 0.5rem;
  border-radius: 1rem;
}
// div du link login success 
.login__ok {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
}  



/*
Code css pas utilisé il me semble ?
.link__logged {
  display: inline-block;
  font-size: large;
  font: bold;
  color: white;
  background-color: none;
  padding: 0.3rem;
  border-radius: 0.5rem;
  margin: auto auto;
}
.link__islogged {
  color: black;
  animation: clignote 2s linear infinite;
  margin-right: 20px;
  display: inline-block;
}
@keyframes clignote {  
  50% { opacity: 0; }
}
*/

