{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Bienvenue sur le backoffice d\'O\'Cooking' %}


{% block page_content %}
    <div>
        <p class="h4">Recettes signalées : 10</p>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Photo</th>
                <th scope="col">Nom - Auteur</th>
                <th scope="col">Durée</th>
                <th scope="col">Ingrédients</th>
                <th scope="col">Préparation</th>
                <th scope="col-1" style="text-align: center;">Action</th>
                </tr>
            </thead>
            <tr>
                <th scope="row" style="vertical-align: middle;">1</th>
                <td style="vertical-align: middle;">photo</td>
                <td style="vertical-align: middle;">
                    <ul style="list-style: none; padding: 0;">
                        <li>Titre</li>
                        <li>Auteur</li>
                        <li>Créée le</li>
                        <li>Catégorie :</li>
                        <li>Tag(s) :</li>
                    </ul>
                </td>
                <td style="vertical-align: middle;">
                    <ul style="list-style: none; padding: 0;">
                        <li>Préparation :</li>
                        <li>Cuisson :</li>
                    </ul>
                </td>
                <td style="vertical-align: middle;">
                    <ul style="list-style: none; padding: 0;">
                        <li>- </li>
                    </ul>
                </td>
                <td style="vertical-align: middle;">
                    <ol>
                        <li></li>
                    </ol>
                </td>
                <td style="vertical-align: middle;">
                    <ul style="list-style: none; padding: 0;">
                        <li style="text-align: center; margin-bottom: 35%;">
                            <a href=""><i class="fas fa-unlink fa-lg success"></i></a>
                        </li>
                        <li style="text-align: center;">
                            <a href=""><i class="fas fa-trash fa-lg danger"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    
{% endblock %}
